html, body {
    height: 100%;
    text-align: center;
    font-size: large;
    background-image: url("../src/assets/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
